parameters:
	ignoreErrors:
		-
			message: "#^Parameter \\#1 \\$char of static method BackEndTea\\\\Regexer\\\\Token\\\\Exception\\\\MissingEnd\\:\\:fromDelimiter\\(\\) expects string, string\\|null given\\.$#"
			count: 1
			path: src/Lexer/Lexer.php

		-
			message: "#^Parameter \\#1 \\$text of function ctype_digit expects int\\|string, string\\|null given\\.$#"
			count: 1
			path: src/Lexer/Lexer.php

